"*":
  Hydrogen:
    debug: true
    kernelNotifications: true
    languageMappings: "{\"ipykernel\":\"bash\"}"
    outputAreaDock: true
  "atom-terminal-panel": {}
  core:
    audioBeep: false
    disabledPackages: [
      "atom-terminal-panel"
    ]
    reopenProjectMenuCount: 12
    telemetryConsent: "limited"
    themes: [
      "atom-light-ui"
      "one-light-syntax"
    ]
  editor:
    autoIndent: false
    autoIndentOnPaste: false
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: ""
  "hydrogen-launcher":
    console: "jupyter console --kernel bash"
  "one-dark-ui":
    fontSize: 11
  teletype:
    askBeforeJoiningPortalViaExternalApp: false
  welcome:
    showOnStartup: false
